#fondohome {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #contenedor_imagen{
    display: flex;
    justify-content: center;
    margin-bottom: -10rem;
  }

  #contenedor_imagen2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: -1rem;
  } 

  #imagen{
    max-width: 25%;
    max-height: auto
  }

  #contendorAPI{
    margin-top: 1rem;
  }
